.text-center{
    text-align: center;   /*to align text to center*/
    margin: 2px 0px;
}
.bg-red{
    background: red;
}
.mx-auto{
    margin: auto;
}
.flex{
display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center; /*for align item to center*/
    margin-top:-10px;
}
